 
    body
    {
        background-color: #50016B;
    }
   
    #callWindow
    {
        background: #2AA3E7;
        opacity: 0.9;
        border: 5px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 35px;
        
        
        position: absolute;
        margin-left: 40%;
        margin-top:40px;
        height:60px;
        width: 250px;

        font-size: 30px;
        line-height: 39px;
        color:white;
        text-align: center;
    }

    #callWindow:active
    {
        box-sizing: border-box;

        background: #156D9E;
        opacity: 0.9;
        border: 5px solid #FFFFFF;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 35px;
    }

    
    #main {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
    }

      #okno 
    {
        height:380px;
        width: 917px;
        background: #4E6F1C;
        border: 5px solid #FFFFFF;
        border-radius: 90px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        
    }


    #WButton
    {
        width:150px;
        height:40px;
        background: #D0BA34;
        opacity: 0.9;
        border: 5px solid #FFFFFF;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 35px;

        margin-left: 42%;
        margin-top:2%;
        text-align: center;
        color:#FFFFFF;
        font-size:20px;
    }
    #WButton:active
    {
        background: rgba(158, 137, 0, 0.57);
        opacity: 0.9;
        border: 5px solid #FFFFFF;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 35px;
    }

    #header
    {
        height: 60px;
    }


    .WP
    {
        text-align: center;
        font-size: 30px;
        line-height: 20px;
        color:white;
    }
    #newEl
    {
        font-size: 40px;
        position: absolute;
        margin-left:23%;
        margin-bottom: 25%;
        height:40px;
        width: 500px;
        background: rgba(255, 255, 255, 0.8);
        opacity: 0.7;
    }
    label
    {
        margin-right: 20px;;
        margin-left:10px;
        color:white;
        font-size:25px;
    }

    #WForm
    {
        margin-left:20%;
        width:650px;
    }

    #WDiv
    {
        margin-top: 50px;
    }

    #WBClose
    {
        margin-top:10px;
        margin-left:90%;
        width: 40px;
        height: 40px;
        color:#4E6F1C;
        transform: scale(1.2);
    }
   
    .openOkno
    {
        display:block;
    }
    .closeOkno
    {
        display: none;
    }

    
    #main_list
    {

        position: absolute;
        margin-left: 15%;
        margin-top:2%;
    }
    .mainDiv 
    {
        width: 1000px;
        height:50px;
        
        background: #fff;
        opacity: 0.8;
        border-radius: 35px;
        padding-top: 10px;
        padding-left: 50px;
        margin-top:10px;

        text-align: left;
        font-size:20px;
        
    }
    .mainDiv div 
    {
        margin-left:10%;
        display:inline;
    }

    .LiButChange
    {
        height:45px;
        width:45px;
        margin-left : 20px;

        background-image: url(C://VS_projects/ProjectlIst/Materials/pen.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: none;

    }
    .LiButDelete
    {
        height:45px;
        width:45px;
        margin-left:2%;
        background-image: url(C://VS_projects/ProjectlIst/Materials/waste.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: none;
    }
    #list_filter
    {
        padding-left: 9%;
        padding-top:2%;
        height: 100px;
        width: 500px;
        margin-top:10%;
        margin-left:28%;
        background:  #4E6F1C;
        border: 5px  #FFFFFF;

        
    }